<div class="container-md mt-5">
  <div>
    <app-skill-selector
      inlined="true"
      dropdownText="Filter by qualifications"
      (selectionChanged)="onFilterChanged($event)"
    ></app-skill-selector>
    <a class="btn btn-primary float-end" [routerLink]="['/employee/create']"
      >Add Employee</a
    >
  </div>
  <div class="pt-5">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let e of employees; index as i">
          <ng-container *ngIf="shouldShowEmployee(i)">
            <tr>
              <td [routerLink]="['/employee', e.id]">{{ e.id }}</td>
              <td [routerLink]="['/employee', e.id]">{{ e.lastName }}</td>
              <td [routerLink]="['/employee', e.id]">{{ e.firstName }}</td>
              <td>
                <button class="btn float-end" (click)="deleteEmployee(e)">
                  <img src="../../assets/images/trash.png" alt="trash icon" />
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
